/*index*/
.card-index {
  background-color: #0c6022;
  display: flex;
  justify-content: center;
  margin-top: 5rem; }

.card-img-top-index {
  height: 200px;
  background-color: #0c6022; }

.card-body {
  background-color: #0c6022;
  text-align: center; }

.body-galeria {
  background-color: #01621d; }

.contenedor-galeria {
  width: 100%;
  margin: auto; }

.img-galeria {
  width: 100%;
  border-radius: 5px;
  border: 5px solid #077714;
  transition: 0.5s;
  object-fit: cover; }

.img-galeria:hover {
  transform: scale(1.2); }

.galeria-columna {
  margin: 5px; }

.galeria .contenedor-galeria {
  display: grid; }

@media screen and (min-width: 520px) {
  .galeria .contenedor-galeria {
    grid-template-columns: repeat(2, 50%); } }

@media screen and (min-width: 728px) {
  .galeria .contenedor-galeria {
    grid-template-columns: repeat(3, 33.3%); } }

@media screen and (min-width: 1024px) {
  .galeria .contenedor-galeria {
    grid-template-columns: repeat(4, 25%); }
  .contenedor-galeria {
    width: 1024px; } }

@media screen and (min-width: 1200px) {
  .contenedor-galeria {
    width: 1200px; } }

/* formulario */
.body-formulario {
  background-image: url(/img/contacto.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed; }

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 10px; }

.h2-formulario {
  color: #056d21;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton-formulario {
  background-color: #056d21;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px; }

#boton-formulario:hover {
  transform: scale(1.1); }

@media (max-width: 480px) {
  form {
    width: 100%; } }

/*bibliografia*/
.card {
  background-color: #056d21;
  border-color: #000000;
  border: 5px solid; }

.card:hover {
  transform: scale(1.1);
  transition: 1s; }

.card-text {
  text-align: center;
  font-weight: bold; }

.body-bibliografia {
  background: #022d0e;
  background: linear-gradient(90deg, #022d0e 15%, #022d0e 33%, #0e6613 45%, #074610 59%, #189a17 72%, #022d0e 90%, #25d61c 100%, #148215 100%, #25d61c 100%, #26da1d 100%, #27de1d 100%, #00240d 100%, #04370f 100%, #00d4ff 100%); }

/* bio */
.container-bio {
  display: flex;
  background-color: #0c6022; }

.text-bio {
  margin-top: 30vh;
  text-align: center;
  font-weight: bold;
  font-size: 20px; }

@media screen and (max-width: 580px) {
  .container-bio {
    color: black; }
  .container-bio img {
    position: absolute;
    width: 250px;
    height: 400px;
    margin-top: 30px; }
  .container-bio .text-bio {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4); } }

/* footer */
.pie-pagina {
  background-color: #056d21;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 100px; }

.img-footer {
  width: 250px;
  margin-right: 100px; }

.h2-footer {
  text-transform: uppercase;
  font-weight: bold; }

.fa {
  font-size: 200%;
  margin: 20px;
  color: #000000;
  text-decoration: none; }

@media screen and (max-width: 600px) {
  .pie-pagina {
    background-color: #056d21; }
  .img-footer {
    margin-right: 0;
    margin-left: -100px; }
  .fa {
    display: flex;
    flex-direction: initial;
    font-size: 20px; } }

/* index */
/* nav-bar */
.navbar {
  margin-top: -1em; }

.navbar-nav .nav-link:after {
  content: "";
  position: absolute;
  background-color: #056d21;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 1.5s; }

.navbar-nav .nav-link:hover::after {
  width: 100%; }

.navbar-nav .nav-link:hover {
  color: #000000;
  transform: scale(1.5);
  font-weight: bold;
  transition: 1s; }

@media screen and (max-width: 990px) {
  .navbar {
    text-align: center;
    margin-top: -1em; } }
