#boton-formulario:hover {
  transition: 0.5s; }

.fa:hover {
  transform: scale(1.6);
  color: #06ce0d;
  transition: 1s; }

/*index*/
.card__index {
  position: relative;
  width: 300px;
  height: 350px;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 2em;
  border-radius: 20px;
  transition: 0.5s;
  transition-delay: 0.5s;
  display: flex;
  background: linear-gradient(to left, #b3eb92, #096100); }

.card__index .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.card__index .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  clip-path: circle(120px at center);
  transition: 0.5s; }

.content__index {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden; }

/* nav-bar */
.navbar {
  margin-top: -1em; }

.navbar-nav .nav-link:after {
  content: "";
  position: absolute;
  background-color: #056d21;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 1.5s; }

.navbar-nav .nav-link:hover::after {
  width: 100%; }

.navbar-nav .nav-link:hover {
  color: #000000;
  transform: scale(1.5);
  font-weight: bold;
  transition: 1s; }

@media screen and (max-width: 990px) {
  .navbar {
    text-align: center;
    margin-top: -1em; } }

/*index*/
.container__cover {
  width: 100%;
  height: 600px;
  padding: 100px; }

.cover {
  max-width: 1400px;
  max-height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f5f4f4; }

.container__cover .text__index {
  max-width: 400px;
  margin-left: 5em; }

.container__cover .text__index h1 {
  font-size: 36px;
  font-weight: 600;
  color: #096100;
  text-transform: uppercase;
  text-shadow: 2px 2px #25ee0e; }

.container__cover .text__index p {
  font-size: 18px;
  margin-top: 40px;
  color: #096100;
  text-shadow: 1px 1px #25ee0e; }

.container__cover .text__index input {
  padding: 18px 80px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 40px;
  background: linear-gradient(to right, #b3eb92, #096100);
  cursor: pointer;
  box-shadow: 1px 1px 30px 10px #096100;
  transition: all 300ms; }

.container__cover .text__index input:hover {
  box-shadow: 1px 1px 30px 5px #096100; }

.container__cover .png {
  width: 600px;
  animation: move-png 2s linear infinite; }

@keyframes move-png {
  0% {
    transform: translateY(20px); }
  50% {
    transform: translateY(0px); }
  100% {
    transform: translateY(20px); } }

@media screen and (max-width: 520px) {
  .container__cover .png {
    display: none; }
  .container__cover .text__index {
    margin: auto; }
  .cover {
    width: 250px; }
  main {
    margin-left: 10px;
    margin-top: -50px; } }

/* index */
.conteiner__index {
  background: linear-gradient(to right, #b3eb92, #096100);
  padding: 10px; }

.card__index:hover {
  width: 600px;
  transition-delay: 0s; }

.card__index:hover .circle::before {
  clip-path: circle(400px at center); }

.card__index .circle .logo__index {
  position: relative;
  width: 200px;
  transition: 0.5s;
  transition-delay: 0.5s; }

.card__index:hover .circle .logo__index {
  transform: scale(0);
  transition-delay: 0s; }

.card__index:hover .content__index {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s; }

.content__index h2 {
  color: black;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em; }

.content__index p {
  color: black; }

.content__index a {
  position: relative;
  color: #111;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500; }

.card__index .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 450px;
  transition: 0.5s;
  transition-delay: 0s; }

.card__index:hover .product_img {
  left: 75%;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.5s; }

@media screen and (max-width: 700px) {
  .card__index .product_img {
    display: none; }
  .content__index {
    margin: 5em; }
  .card__index:hover {
    width: 500px; } }

@media screen and (max-width: 520px) {
  .card__index:hover {
    align-items: center;
    width: 300px; }
  .content__index h2 {
    display: none; }
  .content__index p {
    font-weight: bold;
    font-size: 15px; } }

/* formulario */
.body-formulario {
  background-image: url(/img/contacto.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed; }

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px; }

.h2-formulario {
  color: #1c7;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
  border-bottom: 3px solid #1c7;
  background: transparent;
  color: #fff; }

input:focus, textarea:focus {
  background: linear-gradient(to bottom, transparent, #1c7);
  outline: none; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#boton-formulario {
  background-color: #1c7;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px; }

#boton-formulario:hover {
  transform: scale(1.1); }

@media (max-width: 480px) {
  form {
    width: 100%; } }

/*bibliografia*/
.card {
  background-color: #056d21;
  border-color: #000000;
  border: 5px solid; }

.card-img {
  height: 350px; }

.card:hover {
  transform: scale(1.1);
  transition: 1s; }

.card-text {
  text-align: center;
  font-weight: bold; }

.body-bibliografia {
  background-image: url(/img/bobliografia2.jpg); }

@media screen and (max-width: 520px) {
  .row {
    margin-left: 5rem;
    margin-top: 1rem;
    margin-right: 5rem; } }

/* bio */
.container-bio1 {
  display: flex;
  background-image: url(/img/biowall1.jpg); }

.container-bio2 {
  display: flex;
  background-image: url(/img/biowall2.jpg); }

.container-bio3 {
  display: flex;
  background-image: url(/img/biowall3.jpg); }

.text-bio {
  margin-top: 30vh;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #038626; }

@media screen and (max-width: 580px) {
  .container-bio1 {
    color: black; }
  .container-bio1 img {
    position: absolute;
    width: 250px;
    height: 400px;
    margin-top: 30px; }
  .container-bio1 .text-bio {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: #038626; } }

@media screen and (max-width: 580px) {
  .container-bio2 {
    color: black; }
  .container-bio2 img {
    position: absolute;
    width: 250px;
    height: 400px;
    margin-top: 30px; }
  .container-bio2 .text-bio {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: #038626; } }

@media screen and (max-width: 580px) {
  .container-bio3 {
    color: black; }
  .container-bio3 img {
    position: absolute;
    width: 250px;
    height: 400px;
    margin-top: 30px; }
  .container-bio3 .text-bio {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: #038626; } }

/*galeria*/
.body-galeria {
  background-image: url(/img/gwall.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px; }

.swiper-slide img {
  display: block;
  width: 100%; }

.img-galeria {
  width: 100%;
  height: 320px;
  box-shadow: 10px 5px rgba(0, 0, 0, 0.4); }

.img-galeria:hover {
  transform: scale(1.4);
  transition: 1s; }

.swiper-wrapper {
  margin-bottom: 1rem; }

/* footer */
.pie-pagina {
  display: flex;
  padding: 2em;
  background-color: #056d21; }

.img-footer {
  width: 250px;
  margin-right: 100px;
  width: 200px; }

.p__footer {
  display: flex; }

.h2-footer {
  text-transform: uppercase;
  font-weight: bold; }

.fa {
  font-size: 200%;
  margin: 20px;
  color: #000000;
  text-decoration: none; }

@media screen and (max-width: 850px) {
  .pie-pagina {
    background-color: #056d21;
    display: inline-block;
    padding: 3em; }
  .img-footer {
    margin-left: 5px; }
  .fa {
    display: flex;
    flex-direction: initial;
    font-size: 20px;
    display: inline-block; } }
