


@import "utilities/variablesgaleria";
@import "utilities/variablesbio";
@import "utilities/variablescontacto";
@import "utilities/variablesbibliografia";
@import "utilities/variablesfooter";
@import "utilities/variablesindex";
@import "utilities/variablesnavbar";



/* nav-bar */

.navbar{
    margin-top: -1em;
   
  }

 
  
   .navbar-nav .nav-link:after{
        @include navbar-nav;
      
  }
  
   .navbar-nav .nav-link:hover::after{
      width: 100%;
  }
  
   .navbar-nav .nav-link:hover{
        @include nav-linkhover;
  
      
  }
  
  @media screen and (max-width: 990px){
          .navbar{
             text-align: center;
             margin-top: -1em;
          }
  }
  
  



/*index*/



.container__cover{
    width: 100%;
    height: 600px;
    padding: 100px;
    
}

.cover{
    max-width: 1400px;
    max-height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(245, 244, 244);
}

.container__cover .text__index {
    max-width: 400px;
    margin-left: 5em;
}

.container__cover .text__index h1{
    font-size: 36px;
    font-weight: 600;
    color:#096100;
    text-transform: uppercase;
    text-shadow: 2px 2px #25ee0e ;
}



.container__cover .text__index p{
    font-size: 18px;
    margin-top: 40px;
    color:#096100;
    text-shadow: 1px 1px #25ee0e ;
}

.container__cover .text__index input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #b3eb92, #096100 );
    cursor: pointer;
    box-shadow: 1px 1px 30px 10px #096100 ;
    transition: all 300ms;
}

.container__cover .text__index input:hover{
    box-shadow: 1px 1px 30px 5px #096100 ;
}

.container__cover .png{
    width: 600px;
    animation: move-png 2s linear infinite;
    
}

@keyframes move-png {
    0%{
        transform: translateY(20px);

    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(20px);
    }
    
}

    @media  screen and (max-width:520px) {
        .container__cover .png{
            display: none;
        }
        .container__cover .text__index{
            margin: auto;
        }
        .cover{
            width:350px;
        }
        .container__cover{
            margin: -2em;
        }
    }

    /* index */
  
      

.conteiner__index{
    background: linear-gradient(to right, #b3eb92, #096100 );
    padding: 10px;
}


.card__index{
    
    @extend %card__index;
}



.card__index:hover{
    width: 600px;
    transition-delay: 0s;
}

.card__index .circle{
    @extend %card__index2;
}

.card__index .circle::before{
  
    @extend %card__indexnefore;
}

.card__index:hover .circle::before{
    clip-path: circle(400px at center);
}

.card__index .circle .logo__index{
    position: relative;
    width: 200px;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.card__index:hover .circle .logo__index{
    transform: scale(0);
    transition-delay: 0s;
}

.content__index{
   @extend %content__index
    
}

 .card__index:hover .content__index{
    left: 0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
 }

 .content__index h2{
    color:rgb(0, 0, 0) ;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
 }

 .content__index p{
    color: rgb(0, 0, 0);
    
 }

 .content__index a{
    position: relative;
    color: #111;
    
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
 }

 .card__index .product_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    height: 450px;
    transition: 0.5s;
    transition-delay: 0s;
 }

 .card__index:hover .product_img{
    left: 75%;
    transform: translate(-50%, -50%) scale(1);
    transition-delay: 0.5s;
 }

 @media screen and(max-width:520px) {
    .card__index .product_img{
        display: none;
    }

    .content__index{
        margin: 5em;

    }

    .card__index:hover{
        width: 500px;
        
    }

    
    
 }
    



    



/* formulario */

.body-formulario{
    background-image: url(/img/contacto.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    width: $tamano-form;
    margin: auto;
    background: $background-form;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: $margin-form;
    


}



.h2-formulario{
    color:  $color-form;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-bottom: $margin-form;
}

input, textarea{
    width: $width-form;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border-bottom: 3px solid $color-form;
    background: transparent;
    color: #fff;
    
}

input:focus, textarea:focus{
    background: linear-gradient(to bottom, transparent, $color-form);
    outline: none;
}



textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: $width-form;
}



#boton-formulario{
    background-color: $color-form ;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;

}

#boton-formulario:hover{
  transform: scale(1.1);
}

@media (max-width:480px){
    form{
        width: $width-form;
    }
}

/*bibliografia*/

.card{
    background-color:$color-biblio;
    border-color: $border-color-biblio;
    border: $border-biblio;
    
        
}

.card-img{
    height: 350px;
}

.card:hover{
    transform: scale(1.1);
    transition: 1s;
}

.card-text{
    @include card-text;
}

.body-bibliografia{
    background-image: url(/img/bobliografia2.jpg);
    
}

@media screen and (max-width: 520px) {
    
    .row{
        margin-left: 7rem;
        margin-top: 1rem;
        
    }

}
    

/* bio */

.container-bio1{
    display: flex;
    background-image: url(/img/biowall1.jpg);
    
    
}

.container-bio2{
    display: flex;
    background-image: url(/img/biowall2.jpg);
    
}

.container-bio3{
    display: flex;
    background-image: url(/img/biowall3.jpg);
    
}

.text-bio{
   @include text-bio;
   background-color:rgba(0,0,0,0.4);
   color: rgb(3, 134, 38);
    
}

@media screen and (max-width:580px) {
    .container-bio1  {
        color: $color-footer;

    }
    .container-bio1 img{
        position: absolute;
        @include container-bio;
        
    }

    .container-bio1 .text-bio{
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.4);
        color: rgb(3, 134, 38);

        
    }
  
}

@media screen and (max-width:580px) {
    .container-bio2  {
        color: $color-footer;
        
    }
    .container-bio2 img{
        position: absolute;
        @include container-bio;
        
    }

    .container-bio2 .text-bio{
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.4);
        color: rgb(3, 134, 38)

        
    }
  
}

@media screen and (max-width:580px) {
    .container-bio3  {
        color: $color-footer;
        
    }
    .container-bio3 img{
        position: absolute;
        @include container-bio;
        
    }

    .container-bio3 .text-bio{
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.4);
        color: rgb(3, 134, 38)

        
    }
  
}

//galeria//
/*galeria*/

.body-galeria{
    background-image: url(/img/gwall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper {
    @include swiper;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .img-galeria{
    
    width: 100%;
    height: 320px;
    box-shadow: 10px 5px rgba(0,0,0,0.4);
    
  }

  .img-galeria:hover{
    transform: scale(1.4);
    transition: 1s;
  }

  .swiper-wrapper{
    margin-bottom: 1rem;
  }


/* footer */

.pie-pagina{
display: flex;


   padding: 2em;
    background-color: $back-color-footer;
    
    
      
}



.img-footer{
   @include img-footer;
    width: 200px;
   
    

}

.p__footer{
    
    display: flex;
        
    
}


.h2-footer{
    text-transform: uppercase;
    font-weight: bold;
    
}

.fa{
    @include fa;
}

@media screen and (max-width:850px){
    .pie-pagina{

   background-color: $back-color-footer;
        display: inline-block;
        padding: 3em;

    }
    .img-footer{
       
       margin-left: 5px; 
       
    }
    .fa{
       @include flex-footer;
        display: inline-block;
    
    }
}


   



