


@import "utilities/variablesgaleria";
@import "utilities/variablesbio";
@import "utilities/variablescontacto";
@import "utilities/variablesbibliografia";
@import "utilities/variablesfooter";
@import "utilities/variablesindex";
@import "utilities/variablesnavbar";







/* formulario */

.body-formulario{
    background-image: url(/img/contacto.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

form{
    width: $tamano-form;
    margin: auto;
    background: $background-form;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: $margin-form;
    border-radius: 10px;

}

.h2-formulario{
    color:  $color-form;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin: 0;
    margin-bottom: $margin-form;
}

input, textarea{
    width: $width-form;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: $width-form;
}

#boton-formulario{
    background-color: $color-form ;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;

}

#boton-formulario:hover{
  transform: scale(1.1);
}

@media (max-width:480px){
    form{
        width: $width-form;
    }
}

/*bibliografia*/

.card{
    background-color:$color-biblio;
    border-color: $border-color-biblio;
    border: $border-biblio;
    
        
}

.card-img{
    height: 350px;
}

.card:hover{
    transform: scale(1.1);
    transition: 1s;
}

.card-text{
    @include card-text;
}

.body-bibliografia{
    background-image: url(/img/bobliografia2.jpg);
    
}

@media screen and (max-width: 520px) {
    
    .row{
        margin-left: 7rem;
        margin-top: 1rem;
        
    }

}
    

/* bio */

.container-bio1{
    display: flex;
    background-image: url(/img/biowall1.jpg);
    
    
}

.container-bio2{
    display: flex;
    background-image: url(/img/biowall2.jpg);
    
}

.container-bio3{
    display: flex;
    background-image: url(/img/biowall3.jpg);
    
}

.text-bio{
   @include text-bio;
   background-color:rgba(0,0,0,0.4);
   color: rgb(3, 134, 38);
    
}

@media screen and (max-width:580px) {
    .container-bio1  {
        color: $color-footer;

    }
    .container-bio1 img{
        position: absolute;
        @include container-bio;
        
    }

    .container-bio1 .text-bio{
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.4);
        color: rgb(3, 134, 38);

        
    }
  
}

@media screen and (max-width:580px) {
    .container-bio2  {
        color: $color-footer;
        
    }
    .container-bio2 img{
        position: absolute;
        @include container-bio;
        
    }

    .container-bio2 .text-bio{
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.4);
        color: rgb(3, 134, 38)

        
    }
  
}

@media screen and (max-width:580px) {
    .container-bio3  {
        color: $color-footer;
        
    }
    .container-bio3 img{
        position: absolute;
        @include container-bio;
        
    }

    .container-bio3 .text-bio{
        text-transform: uppercase;
        background-color: rgba(0,0,0,0.4);
        color: rgb(3, 134, 38)

        
    }
  
}

//galeria//
/*galeria*/

.body-galeria{
    background-image: url(/img/gwall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .img-galeria{
    
    width: 100%;
    height: 320px;
    box-shadow: 10px 5px rgba(0,0,0,0.4);
    
  }

  .img-galeria:hover{
    transform: scale(1.4);
    transition: 1s;
  }

  .swiper-wrapper{
    margin-bottom: 1rem;
  }


/* footer */

.pie-pagina{
   @include pie-pagina
}

.img-footer{
   @include img-footer;
    
}

.h2-footer{
    text-transform: uppercase;
    font-weight: bold;
    
}

.fa{
    @include fa;
}

@media screen and (max-width:600px){
    .pie-pagina{

   background-color: $back-color-footer;
          
    }
    .img-footer{
       margin-right: 0;
       margin-left: -100px;
       
    }
    .fa{
       @include flex-footer;
    
    }
}


   



/* index */
  
      
.card-img-top-index{
    @extend %card-img-top-index;
   
}

.card-body{
   @extend %card-body;

}

.card-index{
   @extend %card-index;
       
}


/* nav-bar */

.navbar{
    margin-top: -1em;
   
  }
  
   .navbar-nav .nav-link:after{
        @include navbar-nav;
      
  }
  
   .navbar-nav .nav-link:hover::after{
      width: 100%;
  }
  
   .navbar-nav .nav-link:hover{
        @include nav-linkhover;
  
      
  }
  
  @media screen and (max-width: 990px){
          .navbar{
             text-align: center;
             margin-top: -1em;
          }
  }
  
  
