/*index*/



%card-index{
    background-color:rgb(12, 96, 34);
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

%card-img-top-index{
    height: 200px;
    background-color:rgb(12, 96, 34);
}

%card-body{
    background-color:rgb(12, 96, 34);
    text-align: center;

}

