/*index*/


.header-index{
    width: 100%;
    height: 100vh;
    background-image: url(/img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-text{
    padding: 0 30px;
    text-align: center;

}

.banner-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: rgb(12, 96, 34);
    background-color: rgba(0,0,0,0.4);
    box-shadow: 5px 5px 10px;
    
    
}

.banner-text p {
    font-size: 20px;
    color: #fff;
    background-color:rgba(0,0,0,0.4);
    box-shadow: 5px 5px 10px rgb(12, 96, 34);
}



%card-index{
    background-color:rgb(12, 96, 34);
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

%card-img-top-index{
    height: 200px;
    background-color:rgb(12, 96, 34);
}

%card-body{
    background-color:rgb(12, 96, 34);
    text-align: center;

}

