//bibliografia//

$color-biblio: rgb(5, 109, 33) ;
$border-color-biblio:#000000;
$border-biblio: 5px solid;
$background-bilbio:rgb(2,45,14);


@mixin card-text{
    text-align: center;
    font-weight: bold;
}



