/*index*/




%card__index{
    position: relative;
    width: 300px;
    height: 350px;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    background: linear-gradient(to left, #b3eb92, #096100 );
}

%card__index2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

%card__indexnefore{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    clip-path: circle(120px at center);
    transition: 0.5s;
}

%content__index{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

