@mixin navbar-nav{
    content: "";
    position: absolute;
    background-color: rgb(5, 109, 33);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 1.5s;
}

@mixin nav-linkhover{
    color: #000000;
    transform: scale(1.5);
    font-weight: bold;
    transition: 1s;
}